.shop-items {
    @apply -ml-20;
    /* @media screen and (min-width: 400px) {
    } */
}

.shop-item-icon {
    /* display: none; */
    max-width: 135px;

    @media screen and (min-width: 400px) {
        /* display: block; */
        margin-right: 10px;
    }

    @screen sm {
        max-width: none;
        margin-right: 0;
    }
}

.shop-item-input { 
    min-width: 1rem;
    width: auto;
}