.shop-items {
    @apply -ml-20;

}

.shop-item-icon {
    max-width: 155px;

    @media screen and (min-width: 400px) {
        margin-right: 10px;
    }

    @screen sm {
        max-width: none;
        margin-right: 0;
    }
}

.shop-item-input { 
    min-width: 1rem;
    width: auto;
}