.youtube-wrapper div {
    width: 560px;
    height: 315px;
}

.youtube-wrapper iframe {
    width: 100%;
}

.youtube-malirem-nebe iframe {
    height: calc(51vw - 6rem);

    @screen sm {
        height: 214px;
    }

    @screen md {
        height: 156px;
    }

    @screen lg {
        height: 214px;
    }

    @screen xl {
        height: 250px;
    }

    @screen 2xl {
        height: 321px;
    }
}

.youtube-normal iframe, .youtube-k-vodam iframe, .youtube-poklady iframe {
    height: calc(62vw - 6rem);

    @screen sm {
        height: 288px;
    }

    @screen md {
        height: 210px;
    }

    @screen lg {
        height: 288px;
    }

    @screen xl {
        height: 335px;
    }

    @screen 2xl {
        height: 432px;
    }
}