.timeline-dot:before {
    content: "";
    display: block;
    border-radius: 100%;
    width: 12px;
    height: 12px;
    background-color: black;
    position: absolute;
    top: -4rem;
    right: 2rem;
}

.timeline-dot, .timeline-line {
    position: relative;
}

.timeline-line:after {
    width: 2px;
    height: 600px;
    content: "";
    display: block;
    background-color: black;
    position: absolute;
    z-index: -1;
    right: calc(2rem + 5px);
    top: -18rem;
}