.timeline-dot {
    border-radius: 100%;
    width: 12px;
    height: 12px;
    background-color: black;
    position: absolute;
    right: calc(2.5rem - 5px);
}

.timeline-line {
    width: 2px;
    background: black;
    position: absolute;
}

.timeline-fader-bottom {
    background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100px, rgba(0,0,0,1) 100%);
}

.timeline-fader-top {
    background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100px, rgba(0,0,0,1) 100%);
}